html {
  overflow-y: scroll;
}

body {
  background: #000000;
  font-family: 'Titillium Web', sans-serif;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 40px 0 20px;
}

h3 {
  text-align: center;
  color: #ffffff;
  font-weight: 100;
  margin: 0 0 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 1s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

div.tab {
  overflow: hidden;
  background-color: #000000;
}

div.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

div.tab button:hover {
  border: 1px solid #ffffff;
}

div.tab button.active {
  border: 1px solid #ffffff;
  background: #ffffff;
  color: #000000;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
